body {
  background-color: #0762c8;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiCardHeader-root,
.MuiCardActions-root,
.MuiCardHeader-root a,
.MuiCardActions-root a,
.MuiDrawer-root .MuiPaper-root,
.MuiDrawer-root .MuiPaper-root svg,
.MuiDrawer-root .MuiPaper-root a {
  background-color: #0762c8;
  color: white;
}

.MuiListItem-root .MuiListItemIcon-root {
  min-width: 35px
}

.result-xml .header-label {
  margin-top: 10px;
}

.result-xml .hidden {
  opacity: 0.3;
}

.result-xml .selectable:hover {
  border: 2px solid #d72020;
  cursor: pointer;
}

.result-xml .selected {
  border: 1px solid #3ae082;
}